.card__remove-btn{
    opacity: 0;
}
.card__remove-btn_visible {
    position: absolute;
    top: 19px;
    right: 15px;
    background: none;
    border: none;
    flex-direction: column;
    padding: 0;
    display: flex;
    opacity: 1;
}

.card__remove-btn_visible:hover{
    opacity: .6;
    cursor: url('../../../images/mouse.svg'), auto;
}


